/* HEADER */

body {
  background-color: #ffff;
}

#citis-home button {
  padding: 0;
}

.fruktur {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
}

a {
  color: black;
}

a:hover {
  color: rgb(68, 68, 138);
  text-decoration: none;
  transform: scaleX(1.1);
  transition: 0.3s;
  font-weight: bold;
}

.r-navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

.r-navbar .col-nav {
  display: flex;
}

.r-navbar .col-nav #CiTis {
  margin: 0px;
}

.header-link {
  margin-left: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.col-search {
  display: flex;
  justify-content: right;
  height: 33px;
  display: flex;
}

#submit-search {
  font-size: 14px;
  width: 60px;
  border: 2px double rgb(255, 144, 132);
  background: linear-gradient(
    to right,
    rgb(183, 183, 246),
    rgb(238, 224, 250),
    rgb(254, 184, 184)
  );
  border-radius: 13px;
  right: 30px;
  margin-left: 5px;
}

#box-search {
  font-size: 14px;
  width: 150px;
  border: 2px double rgb(255, 144, 132);
  border-radius: 15px;
}

#submit-search:hover {
  margin-left: 15px;
  transform: scale(1.2);
  transition: 0.5s;
}

#box-search:hover {
  transform: translateX(-15px) scale(1.1);
  transition: 0.5s;
}

/* BODY */

#CiTis {
  font-size: 30px;
  margin-bottom: 15px;
  background: linear-gradient(
    to right,
    rgb(183, 183, 246),
    rgb(238, 224, 250),
    rgb(254, 184, 184)
  );
  border: 2px solid rgb(255, 144, 132);
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 10px;
}

/* section-one*/

.section-one {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#s1-r {
  margin: 0px;
}

.ctn-s1 .r-ctn-s1 {
  margin-right: 0px;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.ctn-s1 .r-ctn-s1 .picOne {
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.ctn-s1 .r-ctn-s1 .picOne img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

#picOne-1,
#picOne-3,
#picOne-5 {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

/* section-two*/

.ctn-s2 {
  margin-top: 50px;
  background-color: #ffff;
  padding: 50px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

.ctn-s2 .inner-trending {
  font-size: 50px;
  font-weight: 500;
  padding: 40px;
}

.ctn-s2 .inner-trending a p {
  color: black;
  border-bottom: 5px solid black;
}

.ctn-s2 .inner-trending:hover {
  transform: scale(1.15) translateY(-10px);
  transition: 0.3s;
}

.ctn-s2 .inner-trending:hover a p {
  font-weight: bold;
  color: rgb(68, 68, 138);
  border: none;
  /* border: solid 5px rgb(68, 68, 138);
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(183, 183, 246),
    rgb(238, 224, 250),
    rgb(254, 184, 184)
  );
  border-radius: 20px; */
}

/* section-three */

.ctn-s3 {
  background-color: #ffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

.ctn-s3 .r-summer .inner-summer {
  height: 100%;
  overflow: hidden;
}

.ctn-s3 .r-summer .inner-summer img {
  border-radius: 5px;
  width: 100%;
  /* Đảm bảo ảnh chiếm hết chiều rộng của container */
  height: 100%;
  /* Đảm bảo ảnh chiếm hết chiều cao của container */
  object-fit: cover;
  /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.8); */
}

.ctn-s4 {
  background-color: #ffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

.ctn-s4 .r-s4 {
  margin-left: 100px;
  margin-right: 100px;
}

.ctn-s4 .r-s4 .s4-item {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.ctn-s4 .r-s4 .s4-item .s4-img {
  height: 80%;
}

.ctn-s4 .r-s4 .s4-item .s4-item-text {
  margin-top: 10px;
  height: 20%;
  font-size: 20px;
  font-weight: 500;
}

.ctn-s4 .r-s4 .s4-item .s4-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section 5 */

.ctn-s5 {
  background-color: #ffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

.r-inner-slide {
  margin: 0px 130px;
}

.r-inner-slide .card-shoes {
  margin: 130px 0px;
}

#slide-button-left {
  margin-left: -120px;
  padding: 17px;
  background-color: gray;
  border-radius: 50%;
}

#slide-button-right {
  margin-right: -120px;
  padding: 17px;
  background-color: gray;
  border-radius: 50%;
}

.footer-c1 {
  margin-top: 50px;
  margin-bottom: 50px;
  background: linear-gradient(
    to right,
    rgb(201, 201, 251),
    rgb(255, 255, 255),
    rgb(252, 193, 193)
  );
  box-shadow: 0 5px 20px 0 rgb(210, 210, 250), 0 -5px 20px 0 rgb(248, 209, 209);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-c1 h2 {
  text-align: center;
  text-transform: uppercase;
}

.footer-c2 {
  background-color: #ffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 -5px 20px 0 rgba(0, 0, 0, 0.4);
}

.footer-c2 .footer-r2 {
  margin: 0px 250px;
  padding-bottom: 40px;
}

.footer-c2 .footer-r2 .map {
  height: 100%;
}

.footer-c2 .footer-r2 .map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-c2 .footer-r2 .footer-item .contact-footer {
  display: flex;
  flex-direction: column;
}

.footer-c2 .footer-r2 .footer-item .contact-footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.footer-c2 .footer-r2 .footer-item .contact-footer ul li {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

.footer-c2 .footer-r2 .footer-item .contact-footer ul li i:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.footer-c2 .footer-r2 .footer-item .p-footer {
  font-weight: 500;
  font-size: 24px;
}

#icon-fb {
  color: blue;
}

#icon-ins {
  color: rgb(255, 102, 102);
}

#contact-button {
  background: linear-gradient(
    to right,
    rgb(183, 183, 246),
    rgb(238, 224, 250),
    rgb(254, 184, 184)
  );
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 20px;
  border: 3px double blue;
  border-radius: 10px;
  color: black;
  font-weight: 500;
}

#contact-button:hover {
  margin-left: 10px;
  transform: scale(1.15);
  transition: 0.5s;
}

/* add */

.cl-center {
  display: flex;
  justify-content: center;
}

/* Reponsive */

@media (min-width: 350px) {
  .ctn-s1 .r-ctn-s1 {
    height: 230px;
  }
  .ctn-s1 .r-ctn-s1 .picOne-chan {
    padding: 15px 5px 15px 5px;
  }
  .ctn-header {
    height: 30px;
  }
  .header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .h2-text {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #Trending {
    margin-left: 15px;
  }
  .ctn-s2 {
    margin-top: 20px;
    background-color: #ffff;
    padding: 0px;
  }
  .ctn-s2 .r-trending {
    padding: 0px;
  }
  .ctn-s2 .inner-trending {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
  }
  .ctn-s2 .inner-trending a p {
    color: black;
    border-bottom: 5px solid black;
  }
  .ctn-s3 .r-summer {
    margin-left: 0px;
    margin-right: 0px;
    height: 300px;
  }
  .ctn-s3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ctn-s3 .r-summer .inner-summer {
    padding: 30px 5px;
  }
  .ctn-s4 .r-s4 {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* SECTION 5 */
  .r-inner-slide {
    margin: 0px 0px;
  }
  .r-inner-slide .card-shoes {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  #slide-button-left {
    margin-left: -70px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  #slide-button-right {
    margin-right: -70px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  .footer-c2 .footer-r2 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 {
    margin: 0px 10px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 .footer-item .p-footer {
    font-weight: 500;
    font-size: 17px;
  }
  #contact-button {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (min-width: 576px) {
  .ctn-s1 .r-ctn-s1 {
    height: 288px;
  }
  .ctn-s1 .r-ctn-s1 .picOne-chan {
    padding: 24px 5px 24px 5px;
  }
  .ctn-header {
    height: 60px;
  }
  .header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .h2-text {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #Trending {
    margin-left: 15px;
  }
  .ctn-s2 {
    margin-top: 20px;
    background-color: #ffff;
    padding: 0px;
  }
  .ctn-s2 .r-trending {
    padding: 0px;
  }
  .ctn-s2 .inner-trending {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
  }
  .ctn-s2 .inner-trending a p {
    color: black;
    border-bottom: 5px solid black;
  }
  .ctn-s3 .r-summer {
    margin-left: 0px;
    margin-right: 0px;
    height: 300px;
  }
  .ctn-s3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ctn-s3 .r-summer .inner-summer {
    padding: 30px 5px;
  }
  .ctn-s4 .r-s4 {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* SECTION 5 */
  .r-inner-slide {
    margin: 0px 0px;
  }
  .r-inner-slide .card-shoes {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  #slide-button-left {
    margin-left: -70px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  #slide-button-right {
    margin-right: -70px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  .footer-c2 .footer-r2 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 {
    margin: 0px 10px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 .footer-item .p-footer {
    font-weight: 500;
    font-size: 17px;
  }
  #contact-button {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .ctn-s1 .r-ctn-s1 {
    height: 410px;
  }
  .ctn-s1 .r-ctn-s1 .picOne-chan {
    padding: 32px 6px 32px 6px;
  }
  .ctn-s3 .r-summer {
    margin-left: 0px;
    margin-right: 0px;
    height: 380px;
  }
  /* SECTION 5 */
  .r-inner-slide {
    margin: 0px 0px;
  }
  #slide-button-left {
    margin-left: -120px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  #slide-button-right {
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  .footer-c2 .footer-r2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 {
    margin: 0px 30px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 .footer-item .p-footer {
    font-weight: 500;
    font-size: 18px;
  }
  #contact-button {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .ctn-s1 .r-ctn-s1 {
    height: 500px;
  }
  .ctn-s1 .r-ctn-s1 .picOne-chan {
    padding: 40px 8px 40px 8px;
  }
  .ctn-header {
    height: 70px;
  }
  .h2-text {
    font-size: 45px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  #Trending {
    margin-left: 30px;
  }
  .ctn-s2 {
    margin-top: 50px;
    background-color: #ffff;
    padding: 30px;
  }
  .ctn-s2 .r-trending {
    padding: 0px 0px;
  }
  .ctn-s2 .inner-trending {
    font-size: 35px;
    font-weight: 500;
    padding: 20px;
  }
  .ctn-s2 .inner-trending a p {
    color: black;
    border-bottom: 5px solid black;
  }
  .ctn-s3 .r-summer {
    margin-left: 30px;
    margin-right: 30px;
    height: 400px;
  }
  .ctn-s3 .r-summer .inner-summer {
    padding: 30px 5px;
  }
  /* section5 */
  .footer-c2 .footer-r2 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 {
    margin: 0px 80px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 .footer-item .p-footer {
    font-weight: 500;
    font-size: 20px;
  }
  .r-inner-slide .card-shoes {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  #slide-button-left {
    margin-left: -120px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  #slide-button-right {
    margin-right: -120px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
}

@media (min-width: 1200px) {
  .ctn-s1 .r-ctn-s1 {
    height: 600px;
  }
  .picOne {
    width: 20%;
    height: 100%;
  }
  .ctn-s1 .r-ctn-s1 .picOne-chan {
    padding: 50px 10px 50px 10px;
  }
  .ctn-header {
    height: 80px;
  }
  .header {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .h2-text {
    font-size: 50px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  #Trending {
    margin-left: 20px;
  }
  .ctn-s2 {
    margin-top: 50px;
    background-color: #ffff;
    padding: 50px;
  }
  .ctn-s2 .r-trending {
    padding: 0px 0px;
  }
  .ctn-s2 .inner-trending {
    font-size: 35px;
    font-weight: 500;
    padding: 20px;
  }
  .ctn-s2 .inner-trending a p {
    color: black;
    border-bottom: 5px solid black;
  }
  .ctn-s3 .r-summer {
    margin-left: 40px;
    margin-right: 40px;
    height: 500px;
  }
  .ctn-s3 .r-summer .inner-summer {
    padding: 40px 8px;
  }
  .footer-c2 .footer-r2 {
    margin: 0px 150px;
    padding-bottom: 20px;
  }
  .footer-c2 .footer-r2 .footer-item {
    margin-top: 50px;
    padding: 0px 40px;
  }
  .footer-c2 .footer-r2 .footer-item .p-footer {
    font-weight: 500;
    font-size: 20px;
  }
  .r-inner-slide .card-shoes {
    margin: 130px 0px;
  }
}

@media (min-width: 1500px) {
  .ctn-s1 .r-ctn-s1 {
    height: 750px;
  }
  .picOne {
    width: 20%;
    height: 100%;
  }
  .ctn-s1 .r-ctn-s1 .picOne-chan {
    padding: 70px 15px 70px 15px;
  }
  .ctn-header {
    height: 90px;
  }
  .header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .h2-text {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
  }
  #Trending {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ctn-s2 {
    margin-top: 50px;
    padding: 30px;
  }
  .ctn-s2 .r-s2 {
    margin-left: 90px;
    margin-right: 90px;
  }
  .ctn-s2 .inner-trending {
    font-size: 40px;
    font-weight: 500;
    padding: 30px;
  }
  .ctn-s3 .r-summer {
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
  }
  .ctn-s3 .r-summer .inner-summer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* SECTION 5 */
  .r-inner-slide {
    margin: 0px 100px;
  }
  #slide-button-left {
    margin-left: -120px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  #slide-button-right {
    margin-right: -120px;
    padding: 17px;
    background-color: gray;
    border-radius: 50%;
  }
  .footer-c2 .footer-r2 {
    margin: 0px 200px;
    padding-bottom: 40px;
  }
  .footer-c2 .footer-r2 .footer-item {
    margin-top: 50px;
    padding: 0px 50px;
  }
}

@media (min-width: 1800px) {
  .ctn-s3 .r-summer {
    height: 700px;
  }
  .h2-text {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
  }
  #Trending {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ctn-s2 {
    margin-top: 50px;
    padding: 50px;
  }
  .ctn-s2 .r-s2 {
    margin-left: 70px;
    margin-right: 70px;
  }
  .ctn-s2 .inner-trending {
    font-size: 40px;
    font-weight: 500;
    padding: 40px;
  }
}

@media (max-width: 992px) {
  .r-s2 {
    width: 100%;
  }
}
